.aside-list img{
    max-width: 40px;
    max-height: 40px;
}

@supports(object-fit: cover){
    .aside-list img{
        object-fit: cover;
        object-position: center center;
    }
}

.links :hover{
    color: lightblue;
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

/*-----Author styles-----*/

.cover-author-content img{
    max-height: 600px;
    width: 100%;
}

.img-author-info img{
    max-height: 200px;
    width: 200px;
}

@supports(object-fit: cover){
    .cover-author-content img, .img-author-info img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.links-author a{
    color: black;
}

.image-list-container{
    max-width: 40px;
    max-height: 40px;
}


